*{
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #d5d2d2;
}

body{
  background-color: #545d68;
}

.card{
  background: rgb(24, 23, 23);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  /* gap: 20px; */
}

.card img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

#parent{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}