.btn{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
    &:hover{
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
}