*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #afc7c0;
    
}

.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 230px;
    height: 320px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 1px solid #dadada;
    border-radius: 50%;
}
.top button{
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dadada;
    color: #9d9d9d;
    font-size: 13px;
    gap: 2px;
}

.center{
    display: flex;
    flex-direction: column;
}
.center h3{
    font-size: 15px;
}
.center h3 span{
    font-size: 10px;
    font-weight: 500;
    color: #9d9d9d;
}
.center h2{
    font-size: 20px;
    margin-top: -15px;
    padding: 0;
}
.center div{
    font-size: 8px;
    /* font-weight: 2; */
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    margin-top: -20px;
}
.center div h4{
    font-weight: 550;
    background-color: #dadada;
    padding: 3px 9px;
    border-radius: 4px;
}

.bottom{
    display: flex;
    width: auto;
    align-items: center;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid #dadada;
}
.bottom h2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.bottom h2 span{
    font-size: 10px;
    font-weight: 200;
    color: #9d9d9d;
}
.bottom button{
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #000000;
}